*{
    background-color: #f3d8ed;
    font-family: monospace;
    font-size: 20px;
}

.heading{
    font-size: 40px;
    text-align: left;
}

.para{
    text-align: justify;
}

#noodle,
#lassi{
    height: auto;
    width: 300px;
    border-radius: 25px;
}

.list{
    font-size: 18px;
    list-style-type: none;
}

footer{
    text-align: center;
}

.scroll{
    font-size: 15px;
}